body {
    font-family: system-ui;
    background: #1F2024;
    
  }
  
  .nav{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #A68F97;
  }
  button{
    color: #1F2024;
    width: 150px;
    background-color: #79717A;
    border-style:none;
    border-right: 0.5px solid rgba(0,0,0,0.1);
  }
  button:hover{
    background-color: #A68F97;
  }
  
  .header {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    color: #79717A;
    font-size: 48px;
  }
  .body{
    display: flex;
    width: 100%;
    height: 300px;
  }
  .left-body{
    width:30%;
    height: 300px;
    background-image: url('https://static-00.iconduck.com/assets.00/coding-illustration-2048x1365-yefj2c5b.png');
    background-size: contain;
    box-sizing: border-box;
    margin: 20px;
  }
  .right-body{
    width:70%;
    
    color: #79717A;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
  }